{% extends "base.html" %}
{% block content %}
<div class="section-box">
    <h2>Archiv</h2>
    <p>Hier findest du ältere Nachrichten und Beiträge. (edit)</p>
    <div class="grid-row">
        <div class="grid-col">
            <h3>Blog (Archiv)</h3>
            <ul>
                <li>Archiv-Eintrag 1 (edit)</li>
                <li>Archiv-Eintrag 2 (edit)</li>
                <li>Archiv-Eintrag 3 (edit)</li>
                <li>...</li>
            </ul>
        </div>
        <div class="grid-col">
            <h3>Erfolge (Archiv)</h3>
            <ul>
                <li>Archiv-Erfolg 1 (edit)</li>
                <li>Archiv-Erfolg 2 (edit)</li>
                <li>Archiv-Erfolg 3 (edit)</li>
                <li>...</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
