{% extends "base.html" %}
{% block content %}
<div class="section-box">
    <h2>Kurse</h2>
    <p>Hier findest du unsere Kursangebote. (edit)</p>
    <div class="grid-row">
        <div class="grid-col">
            <strong>Kursangebot 1</strong><br>Platzhalter (edit)
        </div>
        <div class="grid-col">
            <strong>Kursangebot 2</strong><br>Platzhalter (edit)
        </div>
        <div class="grid-col">
            <strong>Kursangebot 3</strong><br>Platzhalter (edit)
        </div>
    </div>
    <div class="section-box">
        <div class="grid-row">
            <div class="grid-col" style="min-width:300px;text-align:left;">
                <strong>Kurs 1</strong><br>
                Kurze Beschreibung: Theorie, Anfängerkurs usw. (edit)
            </div>
            <div class="grid-col" style="min-width:180px;">
                Tag: Zeit<br>
                Wiederholungen: x3/x2<br>
                Preis: 0.- CHF<br>
                0/MaxPersonen<br>
                <a class="button secondary" href="#">➔ Anmelden</a>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-col" style="min-width:300px;text-align:left;">
                <strong>Kurs 2</strong><br>
                Kurze Beschreibung: Theorie, Anfängerkurs usw. (edit)
            </div>
            <div class="grid-col" style="min-width:180px;">
                Tag: Zeit<br>
                Wiederholungen: x3/x2<br>
                Preis: 0.- CHF<br>
                0/MaxPersonen<br>
                <a class="button secondary" href="#">➔ Anmelden</a>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-col" style="min-width:300px;text-align:left;">
                <strong>Kurs 3</strong><br>
                Kurze Beschreibung: Theorie, Anfängerkurs usw. (edit)
            </div>
            <div class="grid-col" style="min-width:180px;">
                Tag: Zeit<br>
                Wiederholungen: x3/x2<br>
                Preis: 0.- CHF<br>
                0/MaxPersonen<br>
                <a class="button secondary" href="#">➔ Anmelden</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
