{% extends "base.html" %}
{% block content %}
<div class="section-box">
    <div class="grid-row">
        <div class="grid-col">
            <h2>Willkommen bei Arcum et Scientiam</h2>
            <p>Hier noch irgendwelche Text... placeholder</p> (edit)</p>
            <a class="button" href="{{ url_for('team') }}">Über Uns</a>
        </div>
        <div class="grid-col photo">
            Foto 1 (edit)
        </div>
    </div>
    <div class="grid-row" style="justify-content:center;">
        <div class="grid-col photo" style="max-width:120px;"><i class="bi bi-calendar" aria-label="Events"></i></div>
        <div class="grid-col photo" style="max-width:120px;"><i class="bi bi-people" aria-label="Team"></i></div>
        <div class="grid-col photo" style="max-width:120px;"><i class="bi bi-newspaper" aria-label="News"></i></div>
        <div class="grid-col photo" style="max-width:120px;"><i class="bi bi-book" aria-label="Kurse"></i></div>
    </div>
    <div class="grid-row">
        <div class="grid-col">
            Event-Angebot 1<br>Geburtstag (edit)
        </div>
        <div class="grid-col">
            Event-Angebot 2<br>Firmenanlässe (edit)
        </div>
        <div class="grid-col">
            Event-Angebot 3 (edit)
        </div>
    </div>
</div>
<div class="section-box">
    <h2>Über Uns</h2>
    <p>Mehr Platzhalter. Einleitung / kurze Zusammenfassung über uns. (edit)</p>
    <a class="button secondary" href="{{ url_for('team') }}">Mehr erfahren</a>
</div>
{% endblock %}
