{% extends "base.html" %}
{% block content %}
<div class="section-box">
    <h2>Unser Team</h2>
    <p>Triff unser Team! (edit)</p>
    <div class="grid-row" style="justify-content:center;">
        <div class="grid-col photo" style="width:100%;height:180px;">Team-Bannerbild (edit)</div>
    </div>
    <div class="grid-row">
        <div class="grid-col photo" style="max-width:120px;">Foto1 (edit)</div>
        <div class="grid-col">
            <strong>Name, Vorname</strong><br>
            Alter (edit)<br>
            Funktion (edit)
        </div>
        <div class="grid-col photo" style="max-width:120px;">Foto2 (edit)</div>
        <div class="grid-col">
            <strong>Name, Vorname</strong><br>
            Alter (edit)<br>
            Funktion (edit)
        </div>
    </div>
    <div class="grid-row">
        <div class="grid-col photo" style="max-width:120px;">Foto3 (edit)</div>
        <div class="grid-col">
            <strong>Name, Vorname</strong><br>
            Alter (edit)<br>
            Funktion (edit)
        </div>
        <div class="grid-col photo" style="max-width:120px;">Foto4 (edit)</div>
        <div class="grid-col">
            <strong>Name, Vorname</strong><br>
            Alter (edit)<br>
            Funktion (edit)
        </div>
    </div>
</div>
{% endblock %}
